@charset "UTF-8";
/* CSS Document */

* {
	box-sizing: border-box;
}

/* ----------------------------------- VARIABLES ----------------------------------- */

:root {
	--primary-color: #ffda00;
	/* yellow */
	--black-color: #000000;
	/* black */
	--text-highlight-color: #FFFFFF;
	/* white */
	--p-text: #FFFFFF;
    /* white */
    
	--text-align: left;
	--line-height: 1.6;
}

/* ----------------------------------- GLOBAL STUFF ----------------------------------- */

html {
	scroll-behavior: smooth;
	font-family: 'BasierCircle-Regular'/* , helvetica, sans-serif */;
    src: 'assets/font/BasierCircle-Regular.ttf';
}

