@charset "UTF-8";
/* CSS Document */

* {
	box-sizing: border-box;
}

/* ----------------------------------- VARIABLES ----------------------------------- */

:root {
	--main-color: #FF7F00;
	/* orange */
	--dark-color: #10031E;
	/* dark purple */
	--accent-color: #321752;
	/* light purple */
	--black-color: #02000F;
	/* black */
	--text-highlight-color: #FFFFFF;
	/* white */
	--p-text: #FFFFFF;
	/* white */
	--light-color: #F4F3F2;
	/* lightest grey */
	--light-fg-color: #FCFCFB;
	/* white */
	--primary-font: 'Josefin Sans', sans-serif;
	--secondary-font: 'Montserrat', sans-serif;
	--text-align: left;
	--line-height: 1.6;
}

/* ----------------------------------- GLOBAL STUFF ----------------------------------- */

html {
	scroll-behavior: smooth;
}

